@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply m-0 p-0 box-border;
  @apply text-dark dark:text-light;
  /* border: dashed 1px white; */
}

body {
  @apply bg-light dark:bg-dark transition-colors duration-500;
}

@keyframes slideFromRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
